<%= form_with(model: node, local: true) do |f| %>
  <% if node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :node_type %>
    <%= f.select(:node_type, [['Component', 2], ['Template', 1]]) %>
  </div>


  <div class="field">
    <%= f.label 'Number' %>
    <%= f.text_field :enumerate %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.color_field :color, value: node.color ? node.color : "#ffc107" %>
  </div>

  <div class="fields">
    <%= f.fields_for :links do |link| %>
      <%= render 'link_fields', f: link %>
    <% end %>
  </div>
  <div>
    <%= link_to_add_row('Add Link', f, :links, class: 'btn btn-primary') %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
